<body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="tela-login-esqueci-minha-senha" />
    <div class="container-center-horizontal">
        <div class="tela-login-esqueci-minha-senha screen">
            <img class="sombra"
                 src="https://anima-uploads.s3.amazonaws.com/projects/63486f9b8ee4feae84ab3e5a/releases/635352054dd3a6b4b62a5539/img/sombra@1x.png"
                 alt="sombra" />
            <div class="esqueci-minha-senha-modal-card">
                <div class="main-title-assinatura-digital">
                    <a href="/login/codigo-verificacao/">
                    <img class="eparrow-right-bold"
                         src="https://anima-uploads.s3.amazonaws.com/projects/63486f9b8ee4feae84ab3e5a/releases/6350ae43f08417d71c09337c/img/ep-arrow-right-bold@2x.svg"
                         alt="ep:arrow-right-bold" />
                        </a>
                    <div class="container-title-cada">
                        <div class="container-title">
                            <div class="verificar-por-e-mail valign-text-middle inter-medium-chetwode-blue-12px">
                                Verificar por e-mail
                            </div>
                        </div>
                    </div>
                    <img class="bix-lg"
                         src="https://anima-uploads.s3.amazonaws.com/projects/63486f9b8ee4feae84ab3e5a/releases/6356afe6991e4fc9af78ba0b/img/bi-x-lg@2x.svg"
                         alt="bi:x-lg" />
                </div>
                <div class="container-text-encontre-cpf">
                    <div class="title-encontre-cpf">
                        <div class="verifique-o-seu-sms valign-text-middle inter-semi-bold-black-23px">Verifique o seu SMS</div>
                    </div>
                    <div class="container-title">
                        <p class="insira-o-cdigo-de-s valign-text-middle inter-normal-oslo-gray-12px">
                            Insira o código de segurança para fazer uma nova senha. Caso não receba o e-mail, verifique a caixa de
                            spam.
                        </p>
                    </div>
                </div>
                <div class="container-codigo">
                    <div class="container-number-codigo">
                        <div class="number valign-text-middle inter-medium-chetwode-blue-14px"></div>
                    </div>
                    <div class="container-number-codigo">
                        <div class="number valign-text-middle inter-medium-chetwode-blue-14px"></div>
                    </div>
                    <div class="container-number-codigo">
                        <div class="number valign-text-middle inter-medium-chetwode-blue-14px"></div>
                    </div>
                    <div class="container-number-codigo">
                        <div class="number valign-text-middle inter-medium-chetwode-blue-14px"></div>
                    </div>
                </div>
                <div class="continuar"><div class="continuar-1 inter-semi-bold-white-14px">Continuar</div></div>
            </div>
        </div>
    </div>
</body>