/* screen - tela-login-esqueci-minha-senha */

.tela-login-esqueci-minha-senha {
    background-color: var(--white);
    border: 0.07vw none;
    height: 100%;
    width: 100%;
}

    .tela-login-esqueci-minha-senha .esqueci-minha-senha-modal-card {
        align-items: center;
        background-color: var(--white);
        border: 0.07vw none;
        border-radius: 1.39vw;
        box-shadow: 0.0vw 0.56vw 2.22vw #00000033;
        display: flex;
        flex-direction: column;
        gap: 1.39vw;
        justify-content: center;
        left: 36.46vw;
        padding: 1.11vw 1.39vw 2.22vw;
        position: relative;
        top: 10vw;
        width: fit-content;
    }

    .tela-login-esqueci-minha-senha .main-title-assinatura-digital {
        align-items: center;
        border-bottom-style: solid;
        border-bottom-width: 0.07vw;
        border-color: var(--black-haze);
        display: flex;
        gap: 6.39vw;
        justify-content: center;
        padding: 0.28vw 0.0vw;
        width: fit-content;
    }

    .tela-login-esqueci-minha-senha .eparrow-right-bold {
        height: 1.67vw;
        min-width: 1.67vw;
    }

    .tela-login-esqueci-minha-senha .container-title-cada {
        align-items: center;
        border: 0.07vw none;
        display: flex;
        gap: 0.56vw;
        width: fit-content;
    }

    .tela-login-esqueci-minha-senha .container-title {
        align-items: center;
        border: 0.07vw none;
        display: flex;
        gap: 0.56vw;
        justify-content: center;
        width: fit-content;
    }

    .tela-login-esqueci-minha-senha .esqueci-minha-senha {
        letter-spacing: 0;
        line-height: normal;
        margin-top: -0.07vw;
        width: fit-content;
    }

    .tela-login-esqueci-minha-senha .bix-lg {
        height: 1.39vw;
        min-width: 1.39vw;
    }

    .tela-login-esqueci-minha-senha .container-text-encontre-cpf {
        align-items: center;
        border: 0.07vw none;
        display: flex;
        flex-direction: column;
        gap: 0.56vw;
        width: 20.14vw;
    }

    .tela-login-esqueci-minha-senha .title-encontre-cpf {
        align-items: center;
        align-self: stretch;
        border: 0.07vw none;
        display: flex;
        gap: 0.56vw;
        justify-content: center;
    }

    .tela-login-esqueci-minha-senha .x-seu {
        letter-spacing: 0;
        line-height: normal;
        margin-top: -0.07vw;
        text-align: center;
        width: 20.14vw;
    }

    .tela-login-esqueci-minha-senha .container-options-assinaturas {
        align-items: center;
        border: 0.07vw none;
        display: flex;
        gap: 2.22vw;
        justify-content: center;
        width: fit-content;
    }

    .tela-login-esqueci-minha-senha .cpf {
        align-items: center;
        border: 0.07vw none;
        display: flex;
        flex-direction: column;
        gap: 0.28vw;
        justify-content: center;
        width: 20.14vw;
    }

    .tela-login-esqueci-minha-senha .container-input {
        align-items: flex-start;
        background-color: var(--white);
        border: 0.07vw solid;
        border-color: var(--silver);
        border-radius: 0.28vw;
        display: flex;
        flex-direction: column;
        gap: 0.28vw;
        height: 3.75vw;
        justify-content: center;
        overflow: hidden;
        padding: 0.56vw 0.83vw;
        width: 20.14vw;
    }

    .tela-login-esqueci-minha-senha .cpf-1 {
        align-self: stretch;
        background-color: transparent;
        border: 0;
        height: 1.18vw;
        letter-spacing: 0;
        line-height: normal;
        min-width: 18.47vw;
        padding: 0;
    }

        .tela-login-esqueci-minha-senha .cpf-1::placeholder {
            color: #bebebe99;
        }

    .tela-login-esqueci-minha-senha .este-campo-obrigatrio {
        align-self: stretch;
        letter-spacing: 0;
        line-height: normal;
    }

    .tela-login-esqueci-minha-senha .continuar {
        align-items: center;
        background-color: var(--chetwode-blue);
        border: 0.07vw none;
        border-radius: 0.28vw;
        display: flex;
        gap: 0.56vw;
        justify-content: center;
        padding: 0.83vw;
        width: 20.14vw;
    }

    .tela-login-esqueci-minha-senha .continuar-1 {
        letter-spacing: 0;
        line-height: normal;
        margin-top: -0.07vw;
        width: fit-content;
    }

:root {
    --black: #000000;
    --black-haze: #f6f6f6;
    --chetwode-blue: #8c81f7;
    --oslo-gray: #888990;
    --silver: #bebebe;
    --sonic-silver2: #787676;
    --white: #ffffff;
    --font-size-m2: 12px;
    --font-size-m3: 10px;
    --font-size-xl2: 14px;
    --font-size-xxl: 23px;
    --font-family-inter: "Inter", Helvetica;
}

.inter-medium-chetwode-blue-12px {
    color: var(--chetwode-blue);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m2);
    font-style: normal;
    font-weight: 500;
}

.inter-semi-bold-black-23px {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 600;
}

.inter-normal-oslo-gray-12px {
    color: var(--oslo-gray);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m2);
    font-style: normal;
    font-weight: 400;
}

.inter-normal-silver-14px {
    color: var(--silver);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl2);
    font-style: normal;
    font-weight: 400;
}

.inter-normal-sonic-silver-10px {
    color: var(--sonic-silver2);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m3);
    font-style: italic;
    font-weight: 400;
}

.inter-semi-bold-white-14px {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl2);
    font-style: normal;
    font-weight: 600;
}

main,
body {
    height: 100%;
}

.container-center-horizontal {
    height: 100%;
}
