@page "/login/codigo-verificacao/sucesso"
@using Microsoft.AspNetCore.Authorization;
@attribute [AllowAnonymous]
@layout LoginLayout
    
<div class="container-login">
    <div class="container-center-horizontal">
        <div class="tela-login-esqueci-minha-senha screen">
            <div class="esqueci-minha-senha-modal-card">
                <h1>Sucesso! Cheque seu e-mail e verifique o link enviado para criar sua nova senha atavés do seu E-Mail.</h1>
                <div class="frame-30">
                    <a href="/login"><button type="button" class="continuar-2"><span class="continuar-3">Efetuar Login</span></button></a>
                </div>
            </div>
        </div>
    </div>
</div>