/* screen - tela-login-esqueci-minha-senha */

.tela-login-esqueci-minha-senha {
    background-color: var(--white);
    border: 0.07vw none;
    height: 53.33vw;
    overflow: hidden;
    position: relative;
    width: 100.0vw;
}

    .tela-login-esqueci-minha-senha .sombra {
        height: 53.33vw;
        left: -388.82vw;
        position: absolute;
        top: -53.54vw;
        width: 100.0vw;
    }

    .tela-login-esqueci-minha-senha .esqueci-minha-senha-modal-card {
        align-items: center;
        background-color: var(--white);
        border: 0.07vw none;
        border-radius: 1.39vw;
        box-shadow: 0.0vw 0.56vw 2.22vw #00000033;
        display: flex;
        flex-direction: column;
        gap: 1.39vw;
        justify-content: center;
        left: 36.46vw;
        padding: 1.11vw 1.39vw 2.22vw;
        position: absolute;
        top: 11vw;
        width: 27.01vw;
    }

    .tela-login-esqueci-minha-senha .main-title-assinatura-digital {
        align-items: center;
        border-bottom-style: solid;
        border-bottom-width: 0.07vw;
        border-color: var(--black-haze);
        display: flex;
        gap: 6.39vw;
        justify-content: center;
        padding: 0.28vw 0.0vw;
        width: 23.68vw;
    }

    .tela-login-esqueci-minha-senha .eparrow-right-bold {
        height: 1.67vw;
        min-width: 1.67vw;
    }

    .tela-login-esqueci-minha-senha .container-title-cada {
        align-items: center;
        border: 0.07vw none;
        display: flex;
        gap: 0.56vw;
        width: fit-content;
    }

    .tela-login-esqueci-minha-senha .container-title {
        align-items: center;
        border: 0.07vw none;
        display: flex;
        gap: 0.56vw;
        justify-content: center;
        width: fit-content;
    }

    .tela-login-esqueci-minha-senha .verificar-por-e-mail {
        letter-spacing: 0;
        line-height: normal;
        margin-top: -0.07vw;
        width: fit-content;
    }

    .tela-login-esqueci-minha-senha .bix-lg {
        height: 1.39vw;
        min-width: 1.39vw;
    }

    .tela-login-esqueci-minha-senha .container-text-encontre-cpf {
        align-items: center;
        border: 0.07vw none;
        display: flex;
        flex-direction: column;
        gap: 0.56vw;
        width: 20.14vw;
    }

    .tela-login-esqueci-minha-senha .title-encontre-cpf {
        align-items: center;
        align-self: stretch;
        border: 0.07vw none;
        display: flex;
        gap: 0.56vw;
        justify-content: center;
    }

    .tela-login-esqueci-minha-senha .verifique-o-seu-sms {
        letter-spacing: 0;
        line-height: normal;
        margin-top: -0.07vw;
        text-align: center;
        width: 20.14vw;
    }

    .tela-login-esqueci-minha-senha .insira-o-cdigo-de-s {
        letter-spacing: 0;
        line-height: normal;
        margin-top: -0.07vw;
        text-align: center;
        width: 20.14vw;
    }

    .tela-login-esqueci-minha-senha .container-codigo {
        align-items: flex-start;
        border: 0.07vw none;
        display: flex;
        gap: 0.83vw;
        width: fit-content;
    }

    .tela-login-esqueci-minha-senha .container-number-codigo {
        align-items: center;
        background-color: var(--white);
        border: 0.1vw solid;
        border-color: var(--fog);
        border-radius: 0.28vw;
        display: flex;
        flex-direction: column;
        gap: 0.56vw;
        height: 2.5vw;
        justify-content: center;
        padding: 0.56vw;
        width: 2.5vw;
    }

    .tela-login-esqueci-minha-senha .number {
        letter-spacing: 0;
        line-height: normal;
        width: fit-content;
    }

    .tela-login-esqueci-minha-senha .continuar {
        align-items: center;
        background-color: var(--chetwode-blue);
        border: 0.07vw none;
        border-radius: 0.28vw;
        display: flex;
        gap: 0.56vw;
        justify-content: center;
        padding: 0.83vw;
        width: 20.14vw;
    }

    .tela-login-esqueci-minha-senha .continuar-1 {
        letter-spacing: 0;
        line-height: normal;
        margin-top: -0.07vw;
        width: fit-content;
    }

:root {
    --black: #000000;
    --black-haze: #f6f6f6;
    --chetwode-blue: #8c81f7;
    --fog: #e4ccff;
    --oslo-gray: #888990;
    --white: #ffffff;
    --font-size-m2: 12px;
    --font-size-xl2: 14px;
    --font-size-xxl: 23px;
    --font-family-inter: "Inter", Helvetica;
}

.inter-medium-chetwode-blue-14px {
    color: var(--chetwode-blue);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl2);
    font-style: normal;
    font-weight: 500;
}

.inter-medium-chetwode-blue-12px {
    color: var(--chetwode-blue);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m2);
    font-style: normal;
    font-weight: 500;
}

.inter-semi-bold-black-23px {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 600;
}

.inter-normal-oslo-gray-12px {
    color: var(--oslo-gray);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m2);
    font-style: normal;
    font-weight: 400;
}

.inter-semi-bold-white-14px {
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl2);
    font-style: normal;
    font-weight: 600;
}
