@inherits GrupoEmpresaCadastro

<body style="margin: 0">
    <input type="hidden" id="anPageName" name="page" value="container-informations" />
    <div class="container-informations screen">
        <div class="box-input border-1px-chetwode-blue">
            <div class="container-boxes">

                <Companies.Adm.Panel.Client.Shared.GenericComponents.UploadFile Image="@Model.GrupoEmpresaConfiguracao.Logo" />

                <div class="box-radio-switch">
                    <div class="central-de-compra"
                        <div class="container-text-1">
                            <div class="central-de-compra-1">Central de Compra</div>
                            <div class="possui-setor-prprio valign-text-middle">Possui setor próprio?</div>
                        </div>
                        <div class="container-radio">
                            <SfRadioButton Label="Sim" Name="options" Value="true" @bind-Checked="Model.GrupoEmpresaConfiguracao.SetorProprio"></SfRadioButton>
                            <SfRadioButton Label="Não" Name="options" Value="false" @bind-Checked="Model.GrupoEmpresaConfiguracao.SetorProprio"></SfRadioButton>
                        </div>
                    </div>
                    <div class="este-campo-obrigatrio inter-normal-sonic-silver-10px">
                        <ValidationMessage For="@(() => Model.GrupoEmpresaConfiguracao.SetorProprio)"></ValidationMessage>
                    </div>
                    <div class="ativo-grupo">
                        <div class="container-text-2"><div class="status-do-grupo valign-text-middle">Status do Grupo</div></div>
                        <SfSwitch @bind-Checked="Model.Ativo" OnLabel="Ativo" OffLabel="Inativo"></SfSwitch>

                    </div>
                </div>
                <div class="este-campo-obrigatrio inter-normal-sonic-silver-10px">
                    <ValidationMessage For="@(() => Model.Ativo)"></ValidationMessage>
                </div>
            </div>
        </div>
    </div>
</body>