@page "/fetchdata"
@using Companies.Adm.Panel.Client.Shared.GenericListing
@using Companies.Adm.Panel.Shared
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@attribute [Authorize]
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>


@code {

    [Parameter]
    public WeatherForecast[] forecasts { get; set; }

    protected override async Task OnInitializedAsync()
    {
        forecasts = new WeatherForecast[] { new WeatherForecast { Date = DateTime.Now, Summary = "test", TemperatureC = 10 } };
    }
}
