<div class="acesso-rpido-card">
    <div class="container-acesso-rapido">
        <div class="container-cadastro-instituicoes-open">
            <div class="container-title">
                <div class="cadastro-de-instituies">Cadastro de Instituições</div>
                <img class="arrow"
                     src="https://anima-uploads.s3.amazonaws.com/projects/63486f9b8ee4feae84ab3e5a/releases/6348a3ac47ad68baec98b785/img/bxs-right-arrow@2x.svg"
                     alt="bxs:right-arrow" />
            </div>
            <div class="frame-716">
                <div class="frame-373">
                    <div class="frame-654">
                        <div class="grupo-empresa-1 inter-medium-chetwode-blue-12px">Grupo Empresa</div>
                    </div>
                </div>
                <div class="frame-702">
                    <div class="frame-654-1"><div class="empresa-1 inter-medium-black-12px">Empresa</div></div>
                </div>
                <div class="frame-703">
                    <div class="frame-654-2"><div class="place-1 inter-medium-black-12px">Filial</div></div>
                </div>
            </div>
        </div>
        <img class="line-separated"
             src="https://anima-uploads.s3.amazonaws.com/projects/63486f9b8ee4feae84ab3e5a/releases/6348a3ac47ad68baec98b785/img/line-separated@2x.svg"
             alt="line-separated" />
        <div class="container-mais-usados">
            <div class="container">
                <div class="option-cadastro-colaboradores-default">
                    <div class="container-title-acesso-colab">
                        <div class="cadastros-de-colaboradores inter-medium-black-12px">Cadastros de Colaboradores</div>
                    </div>
                    <img class="arrow"
                         src="https://anima-uploads.s3.amazonaws.com/projects/63486f9b8ee4feae84ab3e5a/releases/6348a3ac47ad68baec98b785/img/arrow-right@2x.svg"
                         alt="arrow-right" />
                </div>
                <div class="option-cadastro-convenios-default">
                    <div class="container-title-acesso-conv">
                        <div class="cadastros-de-convnios inter-medium-black-12px">Cadastros de Convênios</div>
                    </div>
                    <img class="arrow"
                         src="https://anima-uploads.s3.amazonaws.com/projects/63486f9b8ee4feae84ab3e5a/releases/6348a3ac47ad68baec98b785/img/arrow-right@2x.svg"
                         alt="arrow-right" />
                </div>
                <div class="option-cadastro-usuarios-perfis">
                    <div class="frame-654-3">
                        <div class="usurios-e-perfis-1 inter-medium-chetwode-blue-12px">Usuários e Perfis</div>
                    </div>
                </div>
            </div>
        </div>
        <img class="line-separated"
             src="https://anima-uploads.s3.amazonaws.com/projects/63486f9b8ee4feae84ab3e5a/releases/6348a3ac47ad68baec98b785/img/line-separated@2x.svg"
             alt="line-separated" />
        <div class="container-acesso-rapido-1">
            <div class="container-title"><div class="acesso-rpido">Acesso Rápido</div></div>
            <div class="container">
                <div class="option-cadastro-instituicoes-clicked">
                    <div class="container-title-acesso-inst">
                        <div class="cadastros-de-instituies inter-medium-black-12px">Cadastros de Instituições</div>
                    </div>
                    <img class="arrow"
                         src="https://anima-uploads.s3.amazonaws.com/projects/63486f9b8ee4feae84ab3e5a/releases/6348a3ac47ad68baec98b785/img/arrow-right-2@2x.svg"
                         alt="arrow-right" />
                </div>
                <div class="option-cadastro-colaboradores-default-1">
                    <div class="container-title-acesso-colab-1">
                        <div class="cadastros-de-colaboradores-1 inter-medium-black-12px">Cadastros de Colaboradores</div>
                    </div>
                    <img class="arrow"
                         src="https://anima-uploads.s3.amazonaws.com/projects/63486f9b8ee4feae84ab3e5a/releases/6348a3ac47ad68baec98b785/img/arrow-right@2x.svg"
                         alt="arrow-right" />
                </div>
                <div class="option-cadastro-convenios-default-1">
                    <div class="container-title-acesso-conv-1">
                        <div class="cadastros-de-convnios-1 inter-medium-black-12px">Cadastros de Convênios</div>
                    </div>
                    <img class="arrow"
                         src="https://anima-uploads.s3.amazonaws.com/projects/63486f9b8ee4feae84ab3e5a/releases/6348a3ac47ad68baec98b785/img/arrow-right@2x.svg"
                         alt="arrow-right" />
                </div>
                <div class="option-cadastro-usuarios-perfis-1">
                    <div class="frame-654-4">
                        <div class="usurios-e-perfis-2 inter-medium-chetwode-blue-12px">Usuários e Perfis</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    [CascadingParameter] public int subMenuTop { get; set; }
}