<div class="container-text">
    <div class="container">
        <div class="box-text">
            <div class="text-description">
                <p class="o-documento-no-est">
                    <span class="span">O documento </span>
                    <span class="span1">NÃO</span>
                    <span class="span2">&nbsp;</span>
                    <span class="span">está sendo salvo automaticamente</span>
                </p>
            </div>
        </div>
    </div>
</div>