<div class="buscar">
    <div class="frame-56">
        <div class="buscar-1">Buscar</div>
        <img class="frame-380"
             src="https://anima-uploads.s3.amazonaws.com/projects/6302b4344e5c134460c8c7e4/releases/6302b43d1740c2a9ee4da382/img/frame-380@2x.svg" />
    </div>
</div>