<div class="tela-agenda-dia screen">
    <div class="container-title-list">
        <div class="container-sections-list">
            <div class="container-title-hour">
                <div class="horrios valign-text-middle inter-semi-bold-black-12px">Horários</div>
            </div>
            <img class="divider" src="/imgs/calendario/calendario-diario/divider@2x.svg" alt="divider" />
            <div class="container-options-list">
                <div class="container-title">
                    <div class="status valign-text-middle inter-semi-bold-black-12px">Status</div>
                </div>
                <div class="container-title">
                    <div class="paciente valign-text-middle inter-semi-bold-black-12px">Paciente</div>
                </div>
                <div class="container-title">
                    <div class="consulta-e-profissional valign-text-middle inter-semi-bold-black-12px">
                        Consulta e Profissional
                    </div>
                </div>
                <div class="container-convenio-three-dots">
                    <div class="convnio valign-text-middle inter-semi-bold-black-12px">Convênio</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-calendar-list-day">
        <div class="container-calendar-sections-list">
            <div class="container-results-calendar-list">
                <div class="container-result-hour">
                    <div class="text-1 valign-text-middle inter-semi-bold-black-16px">07:00</div>
                </div>
                <div class="container-results-description">
                    <div class="container-results-status">
                        <div class="container">
                            <div class="container-tag">
                                <div class="consulta valign-text-middle inter-semi-bold-olivine-8px">Primeira Consulta</div>
                            </div>
                            <div class="container-1">
                                <div class="container-title-1">
                                    <div class="atendimento valign-text-middle inter-semi-bold-chetwode-blue-8px">Atendimento</div>
                                </div>
                                <div class="container-title-1">
                                    <div class="recepo valign-text-middle inter-semi-bold-black-10px">Recepção</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-results-paciente">
                        <div class="container-user-paciente">
                            <div class="container-status-icon-paciente">
                                <div class="container-icon-paciente"></div>
                                <div class="container-status-paciente"></div>
                            </div>
                            <div class="container-title-paciente">
                                <div class="marcela-campos valign-text-middle inter-semi-bold-black-12px">Marcela Campos</div>
                            </div>
                        </div>
                    </div>
                    <div class="container-results-consulta-profissional">
                        <div class="container">
                            <div class="container-tag-1">
                                <div class="consulta valign-text-middle inter-semi-bold-jordy-blue-10px">Consulta</div>
                            </div>
                            <div class="container-1">
                                <div class="container-title-1">
                                    <div class="profissional valign-text-middle inter-semi-bold-silver-chalice-8px">
                                        Profissional
                                    </div>
                                </div>
                                <div class="container-title-name-profissional">
                                    <div class="dr-enrique-gomes valign-text-middle inter-semi-bold-black-10px">
                                        Dr. Enrique Gomes
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-results-convenio">
                        <div class="container-convenio">
                            <div class="unimed valign-text-middle inter-semi-bold-black-12px">Unimed</div>
                        </div>
                    </div>
                    <img class="container-three-dots" src="/imgs/calendario/calendario-diario/container-three-dots@2x.svg" alt="container-three-dots" />
                </div>
            </div>
            <div class="container-results-calendar-list">
                <div class="container-result-hour">
                    <div class="text-2 valign-text-middle inter-semi-bold-black-16px">08:00</div>
                </div>
                <div class="container-results-description">
                    <div class="container-results-status">
                        <div class="container">
                            <div class="container-tag">
                                <div class="consulta valign-text-middle inter-semi-bold-olivine-8px">Primeira Consulta</div>
                            </div>
                            <div class="container-1">
                                <div class="container-title-1">
                                    <div class="atendimento-1 valign-text-middle inter-semi-bold-chetwode-blue-8px">
                                        Atendimento
                                    </div>
                                </div>
                                <div class="container-title-1">
                                    <div class="recepo-1 valign-text-middle inter-semi-bold-black-10px">Recepção</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-results-paciente">
                        <div class="container-user-paciente">
                            <div class="container-status-icon-paciente">
                                <div class="container-icon-paciente-1"></div>
                                <div class="container-status-paciente"></div>
                            </div>
                            <div class="container-title-paciente">
                                <div class="marcela-campos valign-text-middle inter-semi-bold-black-12px">Marcela Campos</div>
                            </div>
                        </div>
                    </div>
                    <div class="container-results-consulta-profissional">
                        <div class="container">
                            <div class="container-tag-1">
                                <div class="consulta valign-text-middle inter-semi-bold-jordy-blue-10px">Consulta</div>
                            </div>
                            <div class="container-1">
                                <div class="container-title-1">
                                    <div class="profissional-1 valign-text-middle inter-semi-bold-silver-chalice-8px">
                                        Profissional
                                    </div>
                                </div>
                                <div class="container-title-name-profissional">
                                    <div class="dr-enrique-gomes-1 valign-text-middle inter-semi-bold-black-10px">
                                        Dr. Enrique Gomes
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-results-convenio">
                        <div class="container-convenio">
                            <div class="unimed-1 valign-text-middle inter-semi-bold-black-12px">Unimed</div>
                        </div>
                    </div>
                    <img class="container-three-dots" src="/imgs/calendario/calendario-diario/container-three-dots-1@2x.svg" alt="container-three-dots" />
                </div>
            </div>
            @for (int i = 9; i < 24; i++)
            {
                <div class="container-list-vazio">
                    <div class="container-agendar">
                        <div class="container-result-hour">
                            <div class="text-2 valign-text-middle inter-semi-bold-black-16px">@(i < 10 ? "0" : "")@(i):00</div>
                        </div>

                        <div class="agendar valign-text-middle inter-semi-bold-cosmic-cobalt-10px">
                            <span class="horario-disponvel-hover">
                                Agendar
                            </span>
                            <span class="horario-disponvel">
                                Horário Disponível
                            </span>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>