

.screen a {
    display: contents;
    text-decoration: none;
}

.container-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    width: 100%;
}

    .container-center-horizontal > * {
        flex-shrink: 0;
        pointer-events: auto;
    }

.valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.smart-layers-pointers,
.smart-layers-pointers * {
    pointer-events: auto;
    visibility: visible;
}

* {
    box-sizing: border-box;
}

/* screen - tela-cadastro-primeira-secao */

.tela-cadastro-primeira-secao {
    background-color: var(--white);
    border: 0.07vw none;
}

    .tela-cadastro-primeira-secao .column-left {
        left: 6vw;
        position: absolute;
        width: 20.69vw;
        bottom: 2vw;
    }

    .tela-cadastro-primeira-secao .column-right {
        border: 0.07vw none;
        border-radius: 1.67vw;
        right: 1vw;
        overflow: hidden;
        position: absolute;
        bottom: 2vw;
        width: 20vw;
        height: 87vh;
        border: 0.07vw solid;
        border-color: var(--alto);
    }

    .tela-cadastro-primeira-secao .container-grupo-w-empresa-w-filial {
        align-items: center;
        border-radius: 0.83vw;
        display: flex;
        flex-direction: column;
        gap: 1.11vw;
        left: 0.8vw;
        overflow: hidden;
        padding: 1.11vw;
        position: relative;
        top: 0.97vw;
        width: fit-content;
        height: 100%;
        max-height:100%;
        overflow-y:scroll;
        padding-top:0;
        top:0;
    }

    .tela-cadastro-primeira-secao .container-section-grupo {
        align-items: flex-end;
        border: 0.07vw none;
        display: flex;
        flex-direction: column;
        gap: 0.83vw;
        width: fit-content;
    }

    .tela-cadastro-primeira-secao .frame-711 {
        align-items: center;
        align-self: stretch;
        border-bottom-style: solid;
        border-bottom-width: 0.07vw;
        border-color: transparent;
        display: flex;
        gap: 10.35vw;
        justify-content: flex-end;
        padding: 0.28vw 0.0vw;
    }

    .tela-cadastro-primeira-secao .frame-422 {
        align-items: center;
        background-color: var(--titan-white);
        border: 0.14vw none;
        border-radius: 0.83vw;
        display: flex;
        gap: 0.83vw;
        height: 1.11vw;
        justify-content: center;
        width: 1.88vw;
    }

    .tela-cadastro-primeira-secao .number {
        letter-spacing: 0;
        line-height: normal;
        width: 10px;
        height: 10px;
    }

    .tela-cadastro-primeira-secao .title {
        align-items: flex-start;
        border: 0.07vw none;
        display: flex;
        gap: 0.56vw;
        padding: 0.28vw 0.56vw;
        width: fit-content;
    }

    .tela-cadastro-primeira-secao .grupos {
        letter-spacing: 0;
        line-height: normal;
        margin-top: -0.07vw;
        width: fit-content;
    }

    .tela-cadastro-primeira-secao .container-notify-grupo {
        align-items: flex-start;
        border: 0.07vw none;
        display: flex;
        flex-direction: column;
        height: 3.75vw;
        justify-content: flex-end;
        width: fit-content;
    }

    .tela-cadastro-primeira-secao .container-grupo:hover .fa-solidlayer-group {
        fill: #fce57e;
    }

    .tela-cadastro-primeira-secao .container-option-filial:hover .filial-1,
    .tela-cadastro-primeira-secao .container-option-filial:hover .place,
    .tela-cadastro-primeira-secao .container-option-filial:hover .container-option-filial,
    .tela-cadastro-primeira-secao .container-option-empresa:hover .empresa,
    .tela-cadastro-primeira-secao .container-option-empresa:hover .empresa-1,
    .tela-cadastro-primeira-secao .container-grupo:hover .grupo,
    .tela-cadastro-primeira-secao .container-grupo:hover .grupo-1 {
    }

    .tela-cadastro-primeira-secao .container-option-filial:hover,
    .tela-cadastro-primeira-secao .container-option-empresa:hover,
    .tela-cadastro-primeira-secao .container-grupo:hover,
    .tela-cadastro-primeira-secao .container-option-filial.active,
    .tela-cadastro-primeira-secao .container-option-empresa.active,
    .tela-cadastro-primeira-secao .container-grupo.active {
        cursor: pointer;
        border: 3px solid #9FCCFF;
        border-radius: 4px;
    }

        .tela-cadastro-primeira-secao .container-option-filial:hover .icon-step,
        .tela-cadastro-primeira-secao .container-option-empresa:hover .icon-step,
        .tela-cadastro-primeira-secao .container-grupo:hover .icon-step,
        .tela-cadastro-primeira-secao .container-option-filial.active .icon-step,
        .tela-cadastro-primeira-secao .container-option-empresa.active .icon-step,
        .tela-cadastro-primeira-secao .container-grupo.active .icon-step{
            background-color: var(--chetwode-blue);
        }

    .tela-cadastro-primeira-secao .container-option-filial.active,
    .tela-cadastro-primeira-secao .container-option-empresa.active,
    .tela-cadastro-primeira-secao .container-grupo.active {
    }


        .tela-cadastro-primeira-secao .container-option-filial.active .notify,
        .tela-cadastro-primeira-secao .container-option-empresa.active .notify,
        .tela-cadastro-primeira-secao .container-grupo.active .notify {
            visibility:visible;
        }

    .tela-cadastro-primeira-secao .container-grupo {
        align-items: center;
        background-color: var(--white);
        border: 0.07vw solid;
        border-color: transparent;
        border-radius: 0.28vw;
        box-shadow: 0.0vw 0.28vw 0.28vw #0000001a;
        display: flex;
        gap: 0.56vw;
        height: 4vw;
        justify-content: center;
        padding: 0.0vw 0.56vw;
        width: 16.81vw;
    }

    .tela-cadastro-primeira-secao .fa-solidlayer-group {
        height: 1.04vw;
        min-width: 1.04vw;
    }

    .tela-cadastro-primeira-secao .container-name {
        align-items: flex-start;
        border: 0.07vw none;
        display: flex;
        flex-direction: column;
        gap: 0.28vw;
        width: 9.38vw;
    }

    .tela-cadastro-primeira-secao .title-1 {
        align-items: flex-start;
        align-self: stretch;
        border: 0.07vw none;
        display: flex;
        gap: 0.56vw;
    }

    .tela-cadastro-primeira-secao .grupo {
        letter-spacing: 0;
        line-height: normal;
        margin-top: -0.07vw;
        width: fit-content;
    }

    .tela-cadastro-primeira-secao .grupo-1 {
        flex: 1;
        height: 1.18vw;
        letter-spacing: 0;
        line-height: normal;
        margin-top: -0.07vw;
    }

    .tela-cadastro-primeira-secao .vector-17 {
        height: 1.98vw;
        min-width: 0.14vw;
    }

    .tela-cadastro-primeira-secao .akar-iconscircle-check-fill {
        height: 1.39vw;
        min-width: 1.39vw;
    }

    .bi1-circle-fill,
    .tela-cadastro-primeira-secao .icon-step,
    .tela-cadastro-primeira-secao .icon-plus {
        height: 1.39vw;
        min-width: 1.39vw;
        font-weight: bold;
        font-size: var(--font-size-xxl2);
    }

.icon-step {
    background: #DCD9FC;
    border-radius: 50%;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    color: white;
}

.tela-cadastro-primeira-secao .container-section-empresa-filial {
    align-items: flex-start;
    border: 0.07vw none;
    display: flex;
    flex-direction: column;
    gap: 1.11vw;
    width: fit-content;
}

.tela-cadastro-primeira-secao .container-box {
    align-items: flex-start;
    border: 0.07vw none;
    display: flex;
    justify-content: flex-end;
    width: 16.81vw;
}

.tela-cadastro-primeira-secao .divider-section-empresa {
    min-width: 0.62vw;
    position: absolute;
    left: 1.5vw;
    margin: 0 0 1vw 0;
}

.tela-cadastro-primeira-secao .container {
    align-items: flex-start;
    border: 0.07vw none;
    display: flex;
    flex-direction: column;
    gap: 2.2vw;
    width: 100%;
    padding: 0;
    justify-content: space-between;
    margin: 0;
    position:absolute;
    top:13vw;
    padding-left: 1vw;
}

    .tela-cadastro-primeira-secao .container.filial {
        gap: 0;
    }

.tela-cadastro-primeira-secao .container-title-empresa {
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 0.07vw;
    border-color: transparent;
    display: flex;
    gap: 8.19vw;
    justify-content: flex-end;
    padding: 0.28vw 0.0vw;
    width: 15.69vw;
}

.tela-cadastro-primeira-secao .quantity-number {
    align-items: center;
    background-color: var(--titan-white);
    border: 0.14vw none;
    border-radius: 0.83vw;
    display: flex;
    gap: 0.83vw;
    height: 1.11vw;
    justify-content: center;
    width: 1.88vw;
    width: 1.5vw;
    text-align:center;
}

.tela-cadastro-primeira-secao .empresas {
    letter-spacing: 0;
    line-height: normal;
    margin-top: -0.07vw;
    width: fit-content;
}

.tela-cadastro-primeira-secao .container-notify-empresa {
    align-items: flex-start;
    border: 0.07vw none;
    display: flex;
    flex-direction: column;
    height: 3.75vw;
    justify-content: flex-end;
    width: 15.69vw;
}

.tela-cadastro-primeira-secao .container-option-empresa {
    align-items: center;
    align-self: stretch;
    border: 0.07vw solid;
    border-color: transparent;
    border-radius: 0.28vw;
    display: flex;
    gap: 0.56vw;
    height: 4vw;
    justify-content: center;
    padding: 0.0vw 0.56vw;
}

.tela-cadastro-primeira-secao .container-empresa-name {
    align-items: flex-start;
    border: 0.07vw none;
    display: flex;
    flex-direction: column;
    gap: 0.28vw;
    width: 9.86vw;
}

.tela-cadastro-primeira-secao .empresa {
    letter-spacing: 0;
    line-height: normal;
    margin-top: -0.07vw;
    width: fit-content;
}

.tela-cadastro-primeira-secao .empresa-1 {
    letter-spacing: 0;
    line-height: normal;
    margin-top: -0.07vw;
    width: 10vw;
}

.tela-cadastro-primeira-secao .divider {
    height: 1.98vw;
    min-width: 0.14vw;
}

.tela-cadastro-primeira-secao .akar-iconscircle-che {
    height: 1.39vw;
    min-width: 1.39vw;
}

.tela-cadastro-primeira-secao .icon-plus-1 {
    height: 1.39vw;
    min-width: 1.39vw;
}

.tela-cadastro-primeira-secao .container-filial {
    align-items: center;
    border: 0.07vw none;
    display: flex;
    flex-direction: column;
    gap: 0.28vw;
    justify-content: center;
    width: fit-content;
}

.tela-cadastro-primeira-secao .divider-section-filial {
    min-width: 1.09vw;
    min-width: 0.62vw;
    position: absolute;
    left: 2.5vw;
    margin-top: -2.2vw;
}

.tela-cadastro-primeira-secao .container-section-filial {
    align-items: flex-start;
    border: 0.07vw none;
    display: flex;
    flex-direction: column;
    gap: 0.56vw;
    width: fit-content;
    margin-left: 1.5vw;
}

.tela-cadastro-primeira-secao .container-title-filial {
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 0.07vw;
    border-color: transparent;
    display: flex;
    gap: 8.75vw;
    justify-content: flex-end;
    padding: 0.28vw 0.0vw;
    width: 14.58vw;
}

.tela-cadastro-primeira-secao .quantity-number-1 {
    align-items: center;
    background-color: var(--titan-white);
    border: 0.14vw none;
    border-radius: 0.83vw;
    display: flex;
    gap: 0.83vw;
    justify-content: center;
    width: 1.5vw;
    height: 1vw;
    text-align:center;
}

.tela-cadastro-primeira-secao .filiais {
    letter-spacing: 0;
    line-height: normal;
    margin-top: -0.07vw;
    width: fit-content;
}

.tela-cadastro-primeira-secao .container-1 {
    align-items: flex-start;
    border: 0.07vw none;
    display: flex;
    flex-direction: column;
    gap: 0.28vw;
    width: fit-content;
}

.tela-cadastro-primeira-secao .container-notify {
    align-items: flex-start;
    border: 0.07vw none;
    display: flex;
    flex-direction: column;
    height: 3.75vw;
    justify-content: flex-end;
    width: 14.58vw;
}

.tela-cadastro-primeira-secao .notify {
    background-color: var(--chetwode-blue);
    border: 0.14vw solid;
    border-color: var(--white);
    border-radius: 6.94vw;
    height: 0.97vw;
    margin-left: -0.07vw;
    margin-top: -0.07vw;
    min-width: 0.97vw;
    visibility: hidden;
}

.tela-cadastro-primeira-secao .container-option-filial {
    align-items: center;
    align-self: stretch;
    border: 0.1vw solid;
    border-color: transparent;
    border-radius: 0.28vw;
    display: flex;
    gap: 0.56vw;
    height: 4vw;
    justify-content: center;
    margin-top: -0.42vw;
    padding: 0.0vw 2.64vw 0.0vw 0.56vw;
}

.tela-cadastro-primeira-secao .container-filial-name {
    align-items: flex-start;
    border: 0.07vw none;
    display: flex;
    flex-direction: column;
    gap: 0.28vw;
    width: 8.75vw;
}

.tela-cadastro-primeira-secao .place {
    letter-spacing: 0;
    line-height: normal;
    margin-top: -0.07vw;
    width: fit-content;
}

.tela-cadastro-primeira-secao .filial-1 {
    letter-spacing: 0;
    line-height: normal;
    margin-top: -0.07vw;
    width: fit-content;
}

.tela-cadastro-primeira-secao .divider-1 {
    height: 1.98vw;
    min-width: 0.14vw;
}

.tela-cadastro-primeira-secao .bi1-circle-fill-section {
    height: 1.39vw;
    min-width: 1.39vw;
}


.tela-cadastro-primeira-secao .cadastro-modal {
    align-items: center;
    border: 0.07vw none;
    border-radius: 1.67vw;
    display: flex;
    flex-direction: column;
    left: 27vw;
    padding: 0 1.11vw 0 0.83vw;
    position: absolute;
    bottom: 2vw;
    width: 51vw;
    bottom:1vw;
    height:100%;
}

.tela-cadastro-primeira-secao .container-title-modal {
    align-items: flex-start;
    width:fit-content;
    border: 0.07vw none;
    display: flex;
    flex-direction: column;
    top: 5vw;
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 100;
}

.tela-cadastro-primeira-secao .container-tips {
    align-items: center;
    border: 0.07vw none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.tela-cadastro-primeira-secao .container-main-modal {
    align-items: center;
    align-self: stretch;
    border: 0.07vw none;
    display: flex;
    justify-content: center;
}

.tela-cadastro-primeira-secao .container-sections-main {
    align-items: center;
    border: 0.07vw none;
    display: flex;
    flex: 1;
    gap: 9.72vw;
    justify-content: center;
}

.tela-cadastro-primeira-secao .title-cadastro {
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 0.08vw;
    border-color: transparent;
    display: flex;
    gap: 13.61vw;
    justify-content: center;
    margin-left: -0.03vw;
    opacity: 0.94;
    padding: 0.83vw;
    width: fit-content;
}

.tela-cadastro-primeira-secao .cadastro {
    letter-spacing: 0;
    line-height: normal;
    margin-top: -0.07vw;
    width: fit-content;
}

.tela-cadastro-primeira-secao .section {
    align-items: center;
    border: 0.07vw none;
    display: flex;
    width: fit-content;
}

.tela-cadastro-primeira-secao .bi1-circle-fill {
    height: 2vw;
    min-width: 2vw;
    border: 2px solid var(--silver);
    border-radius: 50%;
    text-align: center;
    flex-direction: column-reverse;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    display: flex;
    align-items: center;
    color: var(--chetwode-blue);
}

    .tela-cadastro-primeira-secao .bi1-circle-fill:hover,
        .tela-cadastro-primeira-secao .bi1-circle-fill.active {
        background-color: var(--chetwode-blue);
        color: white;
        cursor:pointer;
    }

    .tela-cadastro-primeira-secao .bi1-circle-fill p {
        padding-top: 13px;
        vertical-align: middle;
        padding: 0;
        margin: 0;
    }

.tela-cadastro-primeira-secao .divider-section {
    background-color: var(--cultured-pearl);
    border: 0.07vw none;
    height: 0.28vw;
    min-width: 1.04vw;
}
    .tela-cadastro-primeira-secao .divider-section:hover,
    .tela-cadastro-primeira-secao .divider-section.active {
        background-color: var(--chetwode-blue);
    }

.tela-cadastro-primeira-secao .bi2-circle-fill {
    height: 1.39vw;
    min-width: 1.39vw;
}

.tela-cadastro-primeira-secao .bi3-circle-fill {
    height: 1.39vw;
    min-width: 1.39vw;
}

.tela-cadastro-primeira-secao .section-four {
    height: 1.39vw;
    min-width: 1.39vw;
}

.tela-cadastro-primeira-secao .title-cancelar {
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 0.08vw;
    border-color: transparent;
    display: flex;
    gap: 13.61vw;
    justify-content: center;
    margin-right: -0.03vw;
    opacity: 0.94;
    padding: 0.83vw;
    width: fit-content;
}

.tela-cadastro-primeira-secao .cancelar {
    color: var(--silver);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl);
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -0.07vw;
    width: fit-content;
}

.tela-cadastro-primeira-secao .container-title-company-modal {
    align-items: center;
    border: 0.07vw none;
    display: flex;
    gap: 0.56vw;
    width: 100%;
    justify-content: space-between;
}

.tela-cadastro-primeira-secao .container-segments {
    align-items: flex-start;
    border: 0.07vw none;
    display: flex;
    flex-direction: column;
    opacity: 0.8;
    width: 34.44vw;
}

.tela-cadastro-primeira-secao .container-subtitle-razao-social {
    align-items: center;
    align-self: stretch;
    border-bottom-style: solid;
    border-bottom-width: 0.14vw;
    border-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 0.28vw;
    justify-content: center;
}

.tela-cadastro-primeira-secao .container-named-razao-social {
    align-items: center;
    align-self: stretch;
    border: 0.07vw none;
    display: flex;
    gap: 0.56vw;
}

.tela-cadastro-primeira-secao .razo-social {
    color: var(--silver);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m2);
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -0.07vw;
    width: fit-content;
}

.tela-cadastro-primeira-secao .title-nome-fantasia {
    align-items: center;
    align-self: stretch;
    border: 0.07vw none;
    display: flex;
    gap: 0.56vw;
}

.tela-cadastro-primeira-secao .title-2 {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxxl);
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -0.07vw;
    width: fit-content;
}

.tela-cadastro-primeira-secao .container-autosave-restricao {
    height: 2.22vw;
    min-width: 5.28vw;
}

.tela-cadastro-primeira-secao .container-title-category {
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 0.1vw;
    border-color: transparent;
    border-image: linear-gradient(to bottom, rgb(229, 229, 229), rgba(229, 229, 229, 0) 60.42%) 1;
    display: flex;
    gap: 15.0vw;
    padding: 0.56vw 0.0vw;
    width: 100%;
}

.tela-cadastro-primeira-secao .container-section-one {
    align-items: center;
    border: 0.07vw none;
    display: flex;
    gap: 0.56vw;
    width: 100%;
    justify-content: space-between;
}

.tela-cadastro-primeira-secao .bi1-circle-fill-1 {
    height: 1.39vw;
    min-width: 1.39vw;
}

.tela-cadastro-primeira-secao .container-title-section {
    align-items: flex-start;
    border: 0.07vw none;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 0.14vw;
}

.tela-cadastro-primeira-secao .primeira-seo {
    color: var(--silver);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m3);
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -0.07vw;
    width: fit-content;
}

.tela-cadastro-primeira-secao .identificao {
    letter-spacing: 0;
    line-height: normal;
    margin-top: -0.07vw;
    width: fit-content;
}

.tela-cadastro-primeira-secao .container-features {
    height: 2.78vw;
    min-width: 3.96vw;
}

.tela-cadastro-primeira-secao .box-inputs {
    border: 0.07vw none;
    height: 23.06vw;
    width: 100%;
    position:absolute;
    top:17vw;
    overflow:scroll;
    overflow-x:hidden;
}

.tela-cadastro-primeira-secao .container-principal-buttons {
    align-items: center;
    border: 0.07vw none;
    display: flex;
    gap: 11.53vw;
    justify-content: space-between;
    width: 100%;
    bottom:2vw;
    position:absolute;
    z-index:100;

}

.tela-cadastro-primeira-secao .container-box-1 {
    align-items: center;
    border: 0.07vw none;
    display: flex;
    gap: 0.83vw;
    width: fit-content;
}

.tela-cadastro-primeira-secao .container-t {
    align-items: flex-start;
    border: 0.07vw none;
    display: flex;
    gap: 0.56vw;
    width: fit-content;
}

.tela-cadastro-primeira-secao .responsvel {
    letter-spacing: 0;
    line-height: normal;
    margin-top: -0.07vw;
    width: fit-content;
}

.tela-cadastro-primeira-secao .container-box-profile-responsible {
    align-items: center;
    border: 0.07vw none;
    display: flex;
    gap: 0.56vw;
    width: fit-content;
}

.tela-cadastro-primeira-secao .photo-profile-icon-20x20 {
    align-items: center;
    border: 0.07vw none;
    display: flex;
    gap: 0.56vw;
    justify-content: center;
    width: fit-content;
}

.tela-cadastro-primeira-secao .x20x20 {
    height: 1.39vw;
    min-width: 1.39vw;
    object-fit: cover;
}

.tela-cadastro-primeira-secao .container-text-profle-responsible {
    align-items: center;
    border: 0.07vw none;
    display: flex;
    gap: 0.83vw;
    height: 1.04vw;
    width: fit-content;
}

.tela-cadastro-primeira-secao .name {
    letter-spacing: 0;
    line-height: normal;
    margin-top: -0.07vw;
    width: 100px;
    overflow: hidden;
    max-width: 100px;
}

.tela-cadastro-primeira-secao .text-1 {
    letter-spacing: 0;
    line-height: normal;
    margin-top: -0.07vw;
    width: fit-content;
}

.tela-cadastro-primeira-secao .text-2 {
    letter-spacing: 0;
    line-height: normal;
    margin-top: -0.07vw;
    width: fit-content;
}

.tela-cadastro-primeira-secao .buttons-right {
    align-items: flex-start;
    border: 0.07vw none;
    display: flex;
    gap: 1.11vw;
    width: fit-content;
}

.tela-cadastro-primeira-secao .voltar {
    align-items: center;
    border: 0.07vw none;
    border-radius: 0.28vw;
    display: flex;
    gap: 0.56vw;
    justify-content: center;
    padding: 1.11vw .1vw;
    width: fit-content;
}

.tela-cadastro-primeira-secao .voltar-1 {
    cursor: pointer;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -0.07vw;
    transition: all 0.2s ease;
    width: fit-content;
}

    .tela-cadastro-primeira-secao .voltar-1:hover {
        color: #C5BFFB
    }

.tela-cadastro-primeira-secao .prximo {
    align-items: center;
    background-color: #f1f1f1;
    border: 0.07vw none;
    border-radius: 0.28vw;
    display: flex;
    gap: 0.56vw;
    justify-content: center;
    padding: 1.11vw 0.83vw;
    width: 11.11vw;
}

.tela-cadastro-primeira-secao .prximo-1 {
    color: var(--silver);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl);
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -0.07vw;
    width: fit-content;
}

.inter-medium-black-12px {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m2);
    font-style: normal;
    font-weight: 500;
}

.inter-bold-purple-heart-8px {
    color: var(--purple-heart);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-s2);
    font-style: normal;
    font-weight: 700;
}

.inter-medium-silver-10px {
    color: var(--silver);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m3);
    font-style: normal;
    font-weight: 500;
}

.inter-medium-black-14px {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl2);
    font-style: normal;
    font-weight: 500;
}

.inter-semi-bold-black-16px {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 600;
}

.inter-normal-sonic-silver-12px {
    color: var(--sonic-silver-22);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m2);
    font-style: normal;
    font-weight: 400;
}

.inter-semi-bold-black-12px {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m2);
    font-style: normal;
    font-weight: 600;
}

.inter-normal-chetwode-blue-18px {
    color: var(--chetwode-blue);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxl2);
    font-style: normal;
    font-weight: 400;
}

.icons {
    align-items: center;
    display: flex;
    gap: 12px;
    justify-content: center;
    flex-direction: row;
}

/* screen - i452_3562-53_10268 */

.card-save {
    align-items: flex-start;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0px 2px 2px #00000029;
    display: flex;
    gap: 4px;
    padding: 8px 16px 12px 12px;
    margin-top: 50px;
    margin-left: -180px;
}

.icbaseline-attach-file {
    height: 18px;
    width: 18px;
}

.container-text {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.title {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
}

.salvamento-automtico {
    letter-spacing: 0;
    margin-top: -1px;
}

.description {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    padding: 4px 0px;
}

.as-informaes-esto {
    color: transparent;
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxxxs);
    letter-spacing: 0;
    margin-top: -1px;
    width: 138px;
}

.span0 {
    color: var(--black);
    font-weight: 400;
}

.span1 {
    color: var(--chetwode-blue);
    font-weight: 600;
}




.valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}




.inter-semi-bold-black-12px {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m2);
    font-style: normal;
    font-weight: 600;
}

.popup-toggler {
}

    .popup-toggler .popup-toggler-container {
        position: absolute;
        z-index: 100;
        display: none;
    }

    .popup-toggler:hover .popup-toggler-container {
        display: block;
    }

.container-title-category .icons-item {
    height: 25px;
    z-index: 100;
}

/* screen - i454_3591-35_919 */

.frame-551 {
    align-items: flex-start;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0px 2px 2px #00000029;
    display: flex;
    gap: 4px;
    justify-content: center;
    padding: 8px 12px 12px;
    margin-top: 50px;
    margin-left: -150px;
}

.icbaseline-attach-file {
    height: 18px;
    min-width: 18px;
}

.frame-551-1 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.frame-519 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
}

.restries {
    letter-spacing: 0;
    margin-top: -1px;
}

.frame-520 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    padding: 4px 0px;
    width: 123px;
}

.apenas-administrador {
    color: transparent;
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxxxs);
    letter-spacing: 0;
    margin-top: -1px;
    width: 123px;
}

.span1 {
    color: var(--chetwode-blue);
    font-weight: 600;
}

.span2 {
    color: var(--black);
    font-weight: 700;
}



.valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.inter-normal-black-10px {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxxxs);
    font-style: normal;
    font-weight: 400;
}

.inter-semi-bold-black-12px {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m2);
    font-style: normal;
    font-weight: 600;
}



.inter-semi-bold-black-19-2px {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxl2);
    font-style: normal;
    font-weight: 600;
}

.inter-medium-silver-chalice-16px {
    color: var(--silver-chalice);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-l2);
    font-style: normal;
    font-weight: 500;
}

.container-title-category .box-search-and-options {
    height: 52px;
    position: relative;
    align-items: baseline;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.container-title-category .buscar {
}

.container-title-category .container-search {
    align-items: center;
    background-color: var(--seashell);
    border-radius: 4px;
    display: flex;
    height: 40px;
    padding: 16px 12px;
    width: 157px;
}

.container-title-category .buscar-1 {
    background-color: transparent;
    border: 0;
    height: 19px;
    letter-spacing: 0;
    margin-top: -1px;
    min-width: 107px;
    padding: 0;
}

    .container-title-category .buscar-1::placeholder {
        color: #ababab99;
    }

    .container-title-category .container-search:focus,
    .container-title-category .container-search,
    .container-title-category .buscar-1:focus {
        outline: none;
    }

/* screen - card */

.card {
    align-items: flex-start;
    background-color: var(--white);
    border: 1px none;
    display: flex;
    flex-direction: column;
    gap: 4px;
    min-height: 150px;
    min-width: 200px;
    padding: 12px;
    width: 100%;
    margin-top: 30px;
}

    .card .option-0 {
        align-items: center;
        align-self: stretch;
        border: 1px none;
        display: flex;
        padding: 4px;
    }

    .card .imprimir-relatrio {
        color: var(--black);
        font-family: var(--font-family-inter);
        font-size: var(--font-size-xl2);
        font-weight: 400;
        letter-spacing: 0;
        line-height: normal;
        margin-top: -1.00px;
        width: fit-content;
    }

    .card .resetar-todas-as-informaes {
        color: #f26969;
        font-family: var(--font-family-inter);
        font-size: var(--font-size-m3);
        font-weight: 400;
        letter-spacing: 0;
        line-height: normal;
        margin-top: -1.00px;
        width: fit-content;
    }

    .card .option-03 {
        align-items: center;
        border: 1px solid;
        border-color: #ebebeb;
        border-radius: 4px;
        display: flex;
        gap: 4px;
        padding: 4px 8px 4px 4px;
        width: fit-content;
    }

    .card .icon-copy {
        height: 18px;
        min-width: 18px;
    }

    .card .container-text-copy {
        align-items: center;
        align-self: stretch;
        border: 1px none;
        display: table;
        justify-content: center;
        width: fit-content;
    }

    .card .copiar-categoria-anterior {
        letter-spacing: 0;
        line-height: normal;
        width: fit-content;
    }




.inter-medium-black-10px {
    color: var(--black);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m3);
    font-style: normal;
    font-weight: 500;
}

