<div class="frame-551">
    <img class="icbaseline-attach-file"
         src="/imgs/components/restrictions-btn/restrictions-popup-icon.svg" />
    <div class="frame-551-1">
        <div class="frame-519">
            <div class="restries valign-text-middle inter-semi-bold-black-12px">Restrições</div>
        </div>
        <div class="frame-520">
            <p class="apenas-administrador valign-text-middle">
                <span>
                    <span class="inter-normal-black-10px">Apenas </span><span class="span1">Administrador Master</span><span class="span2">&nbsp;</span><span class="inter-normal-black-10px">(SES) pode cadastrar grupo de empresa.</span>
                </span>
            </p>
        </div>
    </div>
</div>
