<div class="card-save">
    <img class="icbaseline-attach-file"
         src="/imgs/components/autosave-btn/autosave-popup-icon.svg" />
    <div class="container-text">
        <div class="title">
            <div class="salvamento-automtico valign-text-middle inter-semi-bold-black-12px">Salvamento Automático</div>
        </div>
        <div class="description">
            <p class="as-informaes-esto valign-text-middle">
                <span>
                    <span class="span0">As informações estão sendo salvas automaticamente. Para desabilitar, </span><span class="span1">clique no ícone.</span>
                </span>
            </p>
        </div>
    </div>
</div>