<div class="card screen">
    <div class="option-0"><div class="imprimir-relatrio valign-text-middle">Imprimir relatório</div></div>
    <div class="option-0">
        <div class="resetar-todas-as-informaes valign-text-middle">Resetar todas as informações</div>
    </div>
    <div class="option-03">
        <img class="icon-copy"
             src="https://anima-uploads.s3.amazonaws.com/projects/63486f9b8ee4feae84ab3e5a/releases/635359109119b7991516e19f/img/ic-baseline-content-copy@2x.svg"
             alt="icon-copy" />
        <div class="container-text-copy">
            <div class="copiar-categoria-anterior valign-text-middle inter-medium-black-10px">
                Copiar categoria anterior
            </div>
        </div>
    </div>
</div>