@typeparam ModelType where ModelType : EntityDTO, new()

@using Companies.Adm.Panel.Client.Pages.Base;
@using SES.Core.Application.DTO.Aggregates.CommonAgg.Models;

<div class="container">
    <div class="container-title-category">
        <div class="container-section-one">
            <div class="bi1-circle-fill active">
                <p>@(this.Context?.CurrentStep+1)</p>
            </div>
            <div class="container-title-section">
                <div class="title-1"><div class="primeira-seo valign-text-middle">Primeira Seção</div></div>
                <div class="title-1">
                    <div class="identificao valign-text-middle inter-semi-bold-black-16px">Identificação</div>
                </div>
            </div>
        </div>
        <StepsSearchInput />
    </div>
</div>

@code {
    [CascadingParameter] public StepsContext<ModelType> Context { get; set; }
}