<div class="box-search-and-options">
    <div class="buscar">
        <div class="container-search">
            <input class="buscar-1 inter-medium-silver-chalice-16px"
                   name="buscar"
                   placeholder="Buscar"
                   type="text" /><img class="icon"
                                      src="/imgs/components/buttons/search-input-icon.svg" />
        </div>
    </div>
<ButtonHoverInfoContainer IconUrl="/imgs/components/buttons/three-dots.svg" Type="ButtonHoverInfoContainer.ButtonHoverTypes.Restrictions">
    <ChildComponenet>
        <ButtonHoverThreeDots />
    </ChildComponenet>
</ButtonHoverInfoContainer>
</div>