	
@using SES.Schedulings.Application.DTO.Aggregates.SchedulingsAgg.Requests;
@using SES.Schedulings.Enumerations;
@using Pages.RegisterStepsTemplate;
@inherits AgendaExameCadastro

<div class="container-informations screen">
    <div class="box-inputs">
 
    <div class="input-secondary"> 
        <div class="input-secondary-item">
            <div class="container-input border-1px-silver">
                                        <div class="cep-1 valign-text-middle inter-medium-sonic-silver-10px">@Model.GetFieldPlaceholder(Model.GetPropertyInfo(x=>x.Tipo))</div>
                <input @bind-value="Model.Tipo"
                                    class="razo-social valign-text-middle inter-medium-silver-16px"
                    placeholder="@Model.GetFieldPlaceholder(nameof(Model.Tipo))" />
            </div>
            <div class="este-campo-obrigatrio-1 valign-text-middle inter-normal-sonic-silver-10px">
                <ValidationMessage For="@(() => Model.Tipo)"></ValidationMessage>
            </div>
        </div>
    </div> 
    </div>
</div>

@code {
    [CascadingParameter] BaseMainStepsLayout<AgendaExameDTO> layout { get; set; }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            this.StateHasChanged();
        }
        return base.OnAfterRenderAsync(firstRender);
    }
}
