<div class="">
    <div class="columm-resumo-basico">
        <div class="number-agendados">
            <img class="birecord-fill" src="imgs/calendario/header/bi-record-fill@2x.svg" alt="bi:record-fill" />
            <div class="place inter-normal-black-10px">Espera</div>
        </div>
        <div class="number-agendados">
            <img class="birecord-fill-1" src="imgs/calendario/header/bi-record-fill-1@2x.svg" alt="bi:record-fill" />
            <div class="recepo inter-normal-black-10px">Recepção</div>
        </div>
        <div class="number-agendados">
            <img class="birecord-fill-2" src="imgs/calendario/header/bi-record-fill-2@2x.svg" alt="bi:record-fill" />
            <div class="atendimento inter-normal-black-10px">Atendimento</div>
        </div>
        <div class="number-agendados-1">
            <img class="birecord-fill-3" src="imgs/calendario/header/bi-record-fill-3@2x.svg" alt="bi:record-fill" />
            <div class="procedimento inter-normal-black-10px">Procedimento</div>
        </div>
        <div class="number-agendados-1">
            <img class="birecord-fill-4" src="imgs/calendario/header/bi-record-fill-4@2x.svg" alt="bi:record-fill" />
            <div class="reavaliao inter-normal-black-10px">Reavaliação</div>
        </div>
    </div>
</div>
