@page
@model CreatePasswordModel

<link href="~/css/createpassword.css" rel="stylesheet" />


<body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="tela-login-esqueci-minha-senha" />
    <div class="container-center-horizontal">
        <div class="tela-login-esqueci-minha-senha screen">
            <div class="esqueci-minha-senha-modal-card">
                <div class="main-title-assinatura-digital">
                    <img class="eparrow-right-bold"
                         src="https://anima-uploads.s3.amazonaws.com/projects/63486f9b8ee4feae84ab3e5a/releases/634dfbdde6df4c88bb664dff/img/ep-arrow-right-bold@2x.svg"
                         alt="ep:arrow-right-bold" />
                    <div class="container-title-cada">
                        <div class="container-title">
                            <div class="criar-nova-senha valign-text-middle inter-medium-chetwode-blue-12px">Criar nova senha</div>
                        </div>
                    </div>
                    <img class="bix-lg"
                         src="https://anima-uploads.s3.amazonaws.com/projects/63486f9b8ee4feae84ab3e5a/releases/6350b2423f27792e46568e8e/img/bi-x-lg@2x.svg"
                         alt="bi:x-lg" />
                </div>
                <div class="container-text-encontre-cpf">
                    <div class="title-encontre-cpf">
                        <div class="e-uma-nova-senh valign-text-middle inter-semi-bold-black-23px">Crie uma nova senha</div>
                    </div>

                    <div class="container-title">
                        <p class="e-uma-nova-senh valign-text-middle inter-normal-oslo-gray-12px">
                            Digite uma nova senha para retornar o acesso ao seu perfil.
                        </p>
                    </div>
                </div>
                <form method="post">
                    @Html.HiddenFor(model => model.Input.Email)
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="x-senha">
                        <div class="container-input">
                            <input type="password" asp-for="Input.Password" placeholder="Digite sua Senha" class="x-senha-1 inter-normal-silver-14px" autocomplete="username" aria-required="true" />

                            @*<input class="x-senha-1 inter-normal-silver-14px"
                            name="novasenha"
                            placeholder="Razão Social"
                            type="text"
                            required />*@
                        </div>
                        <div class="este-campo-obrigatrio valign-text-middle inter-normal-sonic-silver-10px">
                            Este campo é obrigatório
                        </div>
                    </div>
                    <div class="x-senha">
                        <div class="container-input">
                            <input type="password" asp-for="Input.ConfirmPassword" placeholder="Confirme sua Senha" class="x-senha-1 inter-normal-silver-14px" autocomplete="username" aria-required="true" />

                            @* <input class="x-senha-1 inter-normal-silver-14px"
                            name="confirmarsenha"
                            placeholder="Razão Social"
                            type="text"
                            required />*@
                        </div>
                        <div class="este-campo-obrigatrio valign-text-middle inter-normal-sonic-silver-10px">
                            Este campo é obrigatório
                        </div>
                    </div>
                    <button type="submit" class="continuar"><div class="continuar-1 inter-semi-bold-white-14px">Concluir</div></button>
                </form>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
