@page
@model ForgotPasswordModel


<link href="~/css/forgotpassword.css" rel="stylesheet" />


<body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="tela-login-esqueci-minha-senha" />
    <div class="container-center-horizontal">
        <div class="tela-login-esqueci-minha-senha screen">
            <div class="esqueci-minha-senha-modal-card">
                <div class="main-title-assinatura-digital">
                    <img class="eparrow-right-bold"
                         src="https://anima-uploads.s3.amazonaws.com/projects/63486f9b8ee4feae84ab3e5a/releases/634dfbdde6df4c88bb664dff/img/ep-arrow-right-bold@2x.svg"
                         alt="ep:arrow-right-bold" />
                    <div class="container-title-cada">
                        <div class="container-title">
                            <div class="esqueci-minha-senha valign-text-middle inter-medium-chetwode-blue-12px">
                                Esqueci minha senha
                            </div>
                        </div>
                    </div>
                    <img class="bix-lg"
                         src="https://anima-uploads.s3.amazonaws.com/projects/63486f9b8ee4feae84ab3e5a/releases/6352c9fb4dd3a6b4b62a5301/img/bi-x-lg@2x.svg"
                         alt="bi:x-lg" />
                </div>
                <div class="container-text-encontre-cpf">
                    <div class="title-encontre-cpf">
                        <div class="x-seu valign-text-middle inter-semi-bold-black-23px">Recupere seu acesso</div>
                    </div>
                    <div class="container-title">
                        <p class="x-seu valign-text-middle inter-normal-oslo-gray-12px">
                            Digite abaixo o seu CPF para fazer uma nova senha.
                        </p>
                    </div>
                </div>

                <form method="post">
                    <div class="container-options-assinaturas">
                        <div class="cpf">
                            <div class="container-input">
                                @*<input class="cpf-1 inter-normal-silver-14px"
                                name="Email"
                                placeholder="Razão Social"
                                type="text"
                                required />*@

                                <input asp-for="Input.Cpf" type="text" class="cpf-1 inter-normal-silver-14px" autocomplete="new-password" aria-required="true" />
                                <label asp-for="Input.Cpf"></label>
                                <span asp-validation-for="Input.Cpf" class="text-danger"></span>


                            </div>
                            <div class="este-campo-obrigatrio valign-text-middle inter-normal-sonic-silver-10px">
                                Este campo é obrigatório
                            </div>
                        </div>
                    </div>
                    <button type="submit"><div class="continuar"><div class="continuar-1 inter-semi-bold-white-14px">Continuar</div></div></button>
                    
                </form>
                
            </div>
        </div>
    </div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
